<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_FILE" value="log/test.log"/>

    <property name="FILE_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - [%method,%line] - %msg%n"/>
    <property name="CONSOLE_PATTERN"  value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - [%method,%line] - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="cn.montaro.linovelib" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>